<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman People Views</title>
  </head>
  <body>
    <h1>People List</h1>
    <table border="1">
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      <% people.forEach((row, idx) => { %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= row.name %></td>
        <td><%= row.username %></td>
        <td><%= row.email %></td>
        <td>
          <a href="/views/people/update/<%= row.id %>">Edit</a> |
          <a href="/views/people/delete/<%= row.id %>">Delete</a>
        </td>
      </tr>
      <% }) %>
    </table>
    <br />
    <a href="/views/people/add">Add person</a>
  </body>
</html>
